@import "variables";
$color: #262828;
@import '~react-toastify/dist/ReactToastify.css';

html, body {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 10em;
}

.relative {
  position: relative;
}


.mb {
  &60 {
    margin-bottom: 3.125em;
  }
}