@import "../variables";

.mainMenu {
  position: relative;
  z-index: 2;

  @media (max-width: 768px) {
    .item:not([class$='instagram']) {
      display: none !important;
    }
  }


  a {
    text-decoration: none;
    color: $color-brown;

    &:hover {
      color: $color-brownDark;
    }
  }

  .phone {
    font-size: 1.5em;
  }

}