.catalog-product {
  width: 25%;
  margin: .5em;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: .2em;
  overflow: hidden;

  &:before {
    display: block;
    width: 1px;
    padding-top: 100%;
    content: '';
  }

}